<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home page</title>
</head>
<body>
	<section class="d-flex justify-content-center align-items-center mt-5 pt-5">
		<div class="mt-5 pt-5 text-center">
			<h1>Smart Contact Manager</h1>
			<p>Save your contact number here. This is very efficient and smarter way.</p>
		<button class="btn btn-primary">Get Start</button>
		</div>

	</section>

</body>
</html>