<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8"/>
    <title>Signup page</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-8 offset-md-2">
                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                    <p th:text="${session.message.content}"></p>
                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>

                </div>
                <h1 class="text-center">Signup Here !!</h1>
                <form novalidate th:action="@{/signup}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="name">User Name</label>
                        <input type="text"
                               name="name" id="name" th:value="${user.name}"
                               class="form-control" placeholder="Enter name"
                               th:classappend="${#fields.hasErrors('name')}? 'is-invalid' : ''"
                        >
                        <div th:each="e : ${#fields.errors('name')}" th:text="${e}"
                             class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="email">User Email</label> <input type="email"
                                                                     name="email" id="email" th:value="${user.email}"
                                                                     class="form-control"
                                                                     placeholder="Enter email"
                                                                     th:classappend="${#fields.hasErrors('email')}? 'is-invalid' : ''"
                    >
                        <div th:each="e : ${#fields.errors('email')}" th:text="${e}"
                             class="invalid-feedback"></div>

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label> <input type="password"
                                                                      name="password" id="password"
                                                                      th:value="${user.password}"
                                                                      class="form-control" placeholder="Enter password"
                                                                      th:classappend="${#fields.hasErrors('password')}? 'is-invalid' : ''"
                    >
                        <div th:each="e : ${#fields.errors('password')}" th:text="${e}"
                             class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description"
                                  th:text="${user.description}" class="form-control"
                                  placeholder="Enter something about yourself" cols="10" rows="7"></textarea>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" name="agreement" id="agreement"
                               class="form-check-input"> <label
                            class="form-check-label" for="agreement">Accept terms &
                        condition</label>
                    </div>
                    <div class="containter text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

</body>
</html>