<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="user/base::layout(~{::section})">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
<section>
    <div class="card mr-3" th:if="${contact}">
        <div><h3 class="text-center">View contact</h3>
            <a class="btn btn-primary btn-sm" href="#" th:href="@{'/user/contact/index/0'}">Contact list</a>
        </div>
        <div class="card-body" >
            <div class="container text-center">
                <img src="" style="height:200px; width:300px;" th:src="@{'/img/'+${user.image}}"></img>
                <div>
                    <a class="btn btn-warning btn-sm"  href="#" th:href="@{'/user/contact/edit/'+${contact.id}}">Edit</a>
<!--                    <a class="btn btn-danger btn-sm" onclick="confirm('Are you sure to delete this??')" href="#" th:href="@{'/user/contact/delete/'+${contact.id}}">Delete</a>-->
                </div>
                <h3 th:text="${contact.firstName+' '+contact.lastName}"></h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col"><span th:text="${user.id}"></span></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td><span th:text="${contact.email}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Phone Number</th>
                        <td><span th:text="${contact.phoneNumber}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td><span th:text="${user.enabled}"></span></td>
                    </tr>
                    </tbody>
                </table>
                <p>About:<span th:utext="${contact.description}"></span></p>

            </div>
        </div>
    </div>
    <div class="text-danger" th:unless="${contact}">You don't have permission to see this contact...</div>
</section>
</body>
</html>